@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: hsl(235, 18%, 26%);
    font-size: 16px;     
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.container {
    background-color: hsl(0, 0%, 100%);
    width: 41rem;
    height: 27rem;
    margin-top: 7rem;
    border-radius: 1.5rem;
    padding: 3rem;
    background-image: url(./newsletter\ image/illustration-sign-up-desktop.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 19rem 25rem;    
}

.desktop_image {
    width: 280px;
    height: 400px;
    margin-left: 3rem;
}

.newsletter_container {
    width: 18rem;
}

.heading_container p {
    margin-top: 1rem;
}

p {
    font-size: 12px;
    color: hsl(235, 18%, 26%);
}

h1 {
    font-size: 2.7rem;
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

.icon {
    width: 1rem;
    height: 1rem;
}

.offers {
    margin-top: 1.5rem;
}

.offers .offer1 {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 0.5rem;
}

.offers .offer1 p {
    margin-left: 1rem;
}

form {
    margin-top: 1.5rem;
}

#email_box {
    width: 16rem;
    height: 2.5rem;
    border-radius: 0.4rem;
    margin-top: 0.5rem;
    padding: 0rem 0rem 0rem 1rem;
    border: 1px dotted hsl(231, 7%, 60%);
    cursor: pointer;
}

#email_box:focus {
    border: 1px thin hsl(231, 7%, 60%);
    border: none;
}

form button {
    padding: 0.8rem 3.2rem;
    border-radius: 0.4rem;
    background-color: hsl(234, 29%, 20%);
    color: white;
    font-size: 0.7rem;
    border: none;
}

.success_container {
    width: 22rem;
    height: 24rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1.8rem;
    padding: 2.5rem;
    position: absolute;
    margin-top: 7rem;
    display: none;
}

.success_container h1 {
    font-size: 2.5rem;
    margin-top: 1.5rem;
    color: hsl(234, 29%, 20%);
}

.success_container p {
    margin-top: 1.2rem;
    font-size: 0.7rem;
    color: hsl(234, 29%, 20%);
}

.success_container button {
    margin-top: 1.8rem;
    padding: 0.8rem 5rem;
    background-color: hsl(234, 29%, 20%);
    color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
}

.success_container button:hover {
    background-image: linear-gradient(to bottom right, purple, rgb(235, 67, 7));
    box-shadow: 0 4px 8px 0 rgba(235, 67, 7), 0 6px 20px 0 rgba(235, 67, 7);
}

#response {
    font-weight: 700;
    color: hsl(234, 29%, 20%);
}

.email_error {
    display: flex;
    justify-content: left;
    align-items: center;
}

.email_error #error {
    font-size: 0.7rem;
    color: red;
    margin-left: 6rem;
}

@media screen and (max-width: 480px) {
    body {
        justify-content: left;
    }
 .container {
    background-image: url(./newsletter\ image/illustration-sign-up-mobile.svg);
    background-position: top;
    background-size: 25rem 18rem;
    width: 23.5rem;
    height: 50rem;
    margin-top: 0;
    border-radius: 0;
 }
 
 .newsletter_container {
    margin-top: 18rem;
    margin-left: -1.5rem;
 }

 p {
    font-size: 1rem;
 }

}